.l-main {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s; /* Уменьшаем задержку */
}

.home-img {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s; /* Оставляем чуть дольше */
}

/* Контейнер для анимации */
.large-header {
  position: absolute;
  width: 100%;
  height: 100%; /* Будет переопределено JS на половину высоты */
  background-size: cover;
  background-position: center center;
  z-index: -1;
}

/* Полноэкранный Canvas с эффектом затухания сверху вниз */
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,    /* Полная непрозрачность вверху */
    rgba(0, 0, 0, 1) 70%,   /* Непрозрачность до 40% высоты */
    rgba(0, 0, 0, 0.7) 80%, /* Начало затухания с 60% */
    rgba(0, 0, 0, 0) 95%    /* Полная прозрачность к 85% высоты */
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 0.7) 60%,
    rgba(0, 0, 0, 0) 85%
  );
}


.clearfix:before, .clearfix:after {
  content: ''; 
  display: table;
}

.clearfix:after {
  clear: both;
}